{% assign user = site.data.users[40] %}
<div class="header py-4">
	<div class="container">
		<div class="d-flex">
			<h3 class="text-center"> {{ include.title | default: "sup" }}</h3>
			<div class="d-flex order-lg-2 ml-auto">
				<div class="dropdown">
					<a href="#" class="nav-link pr-0 leading-none" data-toggle="dropdown">
						<span class="avatar" style="background-image: url({{ site.base }}/{{ user.photo }})"></span>
						<span class="ml-2 d-none d-lg-block">
							<span class="text-default">{{ user.name }} {{ user.surname }}</span>
							<small class="text-muted d-block mt-1">Location Manager</small>
						</span>
					</a>
					<div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
						<a class="dropdown-item" href="#">
							<i class="dropdown-icon fe fe-settings"></i> Settings
						</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="#">
							<i class="dropdown-icon fe fe-help-circle"></i> Need help?
						</a>
						<a class="dropdown-item" href="#">
							<i class="dropdown-icon fe fe-log-out"></i> Sign out
						</a>
					</div>
				</div>
			</div>

			<a href="#" class="header-toggler d-lg-none ml-3 ml-lg-0" data-toggle="collapse" data-target="#headerMenuCollapse">
				<span class="header-toggler-icon"></span>
			</a>
		</div>
	</div>
</div>

<div class="header collapse d-lg-flex p-0" id="headerMenuCollapse">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-3 ml-auto">
				<form class="input-icon my-3 my-lg-0">
					{% if page.searchcontext %}
					<input type="search" class="form-control header-search" placeholder="Search {{ page.searchcontext }}&hellip;" tabindex="1"> 
					<div class="input-icon-addon">
						<i class="fe fe-search"></i>
					</div>
					{% endif %}
				</form>
			</div>
			<div class="col-lg order-lg-first">
				{% include menu.html %}
			</div>
		</div>
	</div>
</div>


<div class="container">
	<div class="row align-items-center">
		<div class="col-lg order-lg-first">
			{% if page.level=="home" %}
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item active" aria-current="page">Home</li>
				</ol>
			</nav>
			{% endif %}
			{% if page.level=="region" %}
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item" aria-current="page"><a href="/regioncards.html">Home</a></li>
					<li class="breadcrumb-item active" aria-current="page">Eastern region</li>
				</ol>
			</nav>
			{% endif %}
			{% if page.level=="district" %}
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item" aria-current="page"><a href="/regioncards.html">Home</a></li>
					<li class="breadcrumb-item" aria-current="page"><a href="/region.html">Eastern region</a></li>
					<li class="breadcrumb-item active" aria-current="page">Bostonian district</li>
				</ol>
			</nav>
			{% endif %}
			{% if page.level=="location" %}
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item" aria-current="page"><a href="/regioncards.html">Home</a></li>
					<li class="breadcrumb-item" aria-current="page"><a href="/region.html">Eastern region</a></li>
					<li class="breadcrumb-item" aria-current="page"><a href="/district.html">Bostonian district</a></li>
					<li class="breadcrumb-item active" aria-current="page">ORHA location</li>
				</ol>
			</nav>
			{% endif %}
			{% if page.level=="box" %}
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item" aria-current="page"><a href="/regioncards.html">Home</a></li>
					<li class="breadcrumb-item" aria-current="page"><a href="/region.html">Eastern region</a></li>
					<li class="breadcrumb-item" aria-current="page"><a href="/district.html">Bostonian district</a></li>
					<li class="breadcrumb-item" aria-current="page"><a href="/location.html">ORHA location</a></li>
					<li class="breadcrumb-item" aria-current="page">11 drop box</li>
				</ol>
			</nav>
			{% endif %}
		</div>
	</div>
</div>

