<div class="card">
	<div class="card-header">
		<div class="card-title">Overview of Box {{ include.page }}</div>
	</div>
	<div class="card-map card-map-placeholder" style="background-image: url(https://maps.googleapis.com/maps/api/staticmap?center=550+Huntington+Ave,+Boston,+MA+02115&zoom=16&size=600x600&markers=color:red%7C550+Huntington+Ave,+Boston,+MA+02115&key=AIzaSyCkOU-YsBemD509XzrNpDlp-dBRlrm1FHM)"></div>

	<div class="card-body">
		<h5 class="text-center">550 Huntington Ave, Boston, MA</h5>
	</div>
</div>