<div class="card">
	<div class="card-header">
		<h3 class="card-title">Packages in Box 11</h3>
	</div>
	<table id="js-table-sorted" class="table table-responsive table-striped table-vcenter card-table">
		<thead>
		<tr>
			<th>No.</th>
			<th>Origin</th>
			<th>Destination</th>
			<th>Time Since Drop</th>
			<th>Weight</th>

		</tr>
		</thead>
		<tbody>

		{% for package in site.data.packages %}
		<tr>
				<td><span class="text-muted">{{ package.number }}</span></td>
				<td>{{ package.origin }}</td>
				<td>
					{{ package.destination }}
				</td>
				<td>
					{{ package.timesince }}
				</td>
				<td>
					{{ package.weight }}
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>
	
<script>
requirejs(['tablesorter', 'jquery'], function(tablesorter, $) {
	$(document).ready(function(){
		$('#js-table-sorted').tablesorter({
			sortList: [[5,1]],
			cssHeader: 'table-header',
			cssAsc: 'table-header-asc',
			cssDesc: 'table-header-desc',
			headers: {
				1: { sorter: false },
				2: { sorter: false }
			}
		});
	});
});
</script>