---
title: Box 11 of Location ORHA
layout: default
menu: regioncards
level: box
---


<div class="container">

	<div class="row row-cards">
		<div class="col-xs-6 col-md-6">
			{% include cards/box-overview.html page="11" %}
		
			{% for chart in site.data.charts %}
			{% if chart[1].box %}
				{% assign data = chart[0] %}
				{% assign key = 'chart-' | append: data %}
				<div class="card">
					<div class="card-header">
						<h3 class="card-title">{{ chart[1].name }}</h3>
					</div>
					<div class="card-body">
						<div id="{{ key }}" style="height: 16rem"></div>
					</div>
				</div>
				{% include js-charts.html id=key data=data %}
			{% endif %}
			{% endfor %}
		</div>
		<div class="col-xs-6 col-md-6">
			{% include cards/packages.html %}
		</div>
	</div>
</div>
