---
layout: default
title: Homepage
menu: index
---


<div class="container">
	<div class="row row-cards">
		<div class="col col-xs-4 col-md-4">
			{% for favorite in site.data.favorites %}
			{% unless favorite.level=="box" %}
			{% include cards/favorite.html title=favorite.title status=favorite.status show-buttons=true body=favorite.info url=favorite.url level=favorite.level %}
			{% endunless %}
			{% endfor %}
		</div>
		<div class="col-xs-8 col-md-8">
			{% include cards/favorite-boxes-sorted.html %}
		</div>
	</div>

</div>
